@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 0 0% 100%;
    --black: 0 0% 0%;

    --background: var(--primary);
    --foreground: var(--primary-foreground);

    --card: var(--secondary);
    --card-foreground: var(--secondary-foreground);

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 140 6% 8%;
    --primary-foreground: var(--white) / 92%;

    --secondary: 120 3% 13%;
    --secondary-foreground: var(--white) / 0.92;

    --tertiary: var(--white) / 0.92;
    --tertiary-foreground: 120 3% 13%;

    --muted: var(--secondary);
    --muted-foreground: var(--white) / 0.64;

    --accent: 140 87% 79%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: var(--white) / 0.12;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;

    --navbar-height: 4rem;

    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }
}

@layer base {
  * {
    @apply border-border antialiased;
  }
  body {
    @apply bg-background text-foreground;
  }
}
